@model IEnumerable<WebApplication5.Models.Dzial>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Prezes" || User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Specjalista")
{
    <h1>Działy</h1>

    <p>
        @if (ViewData["Rola"].ToString() == "Prezes")
        {
            <a asp-action="Create">Create New</a>
        }
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Find: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Dzial", "Index", new { sortOrder = ViewBag.SectionSortParm })
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NazwaDzial)
                    </td>
                    <td>
                        @if (ViewData["Rola"].ToString() == "Prezes")
                        {
                            <a asp-action="Edit" asp-route-id="@item.IdDzial">Edit</a>

                            <a asp-action="Delete" asp-route-id="@item.IdDzial">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.IdDzial">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}