@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NAZWA FIRMY</h1>
    <div>
        @Html.ActionLink("Pracownicy", "Index", "Pracownik")<br />
        @Html.ActionLink("Stanowiska", "Index", "Stanowisko")<br />
        @Html.ActionLink("Dzialy", "Index", "Dzial")<br />
        @Html.ActionLink("Godziny pracy", "Index", "Godzinypracy")<br />
        @Html.ActionLink("Wejscia", "Index", "Wejscia")<br />
        @Html.ActionLink("Wyjscia", "Index", "Wyjscia")<br />
        @Html.ActionLink("Wejscie", "Create", "Wejscia")<br />
        @Html.ActionLink("Wyjscie", "Create", "Wyjscia")<br />
        @Html.ActionLink("Spoznienia", "Delays", "Wejscia")<br />
        @Html.ActionLink("Podsumowanie", "Worktime", "Wejscia")
    </div>
</div>
