@model IEnumerable<WebApplication5.Models.Uzytkownik>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <div>
            @Html.ActionLink("Pracownicy", "Index", "Pracownik")<br />
            @Html.ActionLink("Stanowiska", "Index", "Stanowisko")<br />
            @Html.ActionLink("Dzialy", "Index", "Dzial")<br />
            @Html.ActionLink("Godziny pracy", "Index", "Godzinypracy")<br />
            @Html.ActionLink("Wejscia", "Index", "Wejscia")<br />
            @Html.ActionLink("Wyjscia", "Index", "Wyjscia")<br />
            @Html.ActionLink("Spoznienia", "Delays", "Wejscia")<br />
            @Html.ActionLink("Podsumowanie", "Worktime", "Godzinypracy")
    </div>
    </div>