@model IEnumerable<WebApplication5.Models.Stanowisko>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Prezes" || User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Specjalista")
{
    <h1>Stanowiska</h1>

    <p>
        @if (ViewData["Rola"].ToString() == "Prezes")
        {
            <a asp-action="Create">Create New</a>
        }

    </p>
    @using (Html.BeginForm())
    {
        <p>
            Find: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Stanowisko", "Index", new { sortOrder = ViewBag.EmplacementSortParm })
            </th>
            <th>
                @Html.ActionLink("Wynagrodzenie", "Index", new { sortOrder = ViewBag.PaymentSortParm })
            </th>
            <th>
                @Html.ActionLink("Dzial", "Index", new { sortOrder = ViewBag.SectionSortParm })
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NazwaStanowisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wynagrodzenie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDzialNavigation.NazwaDzial)
                    </td>
                    <td>
                        @if (ViewData["Rola"].ToString() == "Prezes")
                        {
                            <a asp-action="Edit" asp-route-id="@item.IdStanowisko">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.IdStanowisko">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.IdStanowisko">Details</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}